ion-card {
	background-color: var(--ion-color-tertiary);
	border: 1px solid lightgray;
}

h1 {
	color: black;
}

ion-button {
	width: 100%;
	text-align: center;
	background-color: var(--ion-color-secondary);
}
